
<div class="section">
    <%= form_for @post do |f| %>
    <div class="feild form-group">
    <%= f.text_field :title,class:"form-control", placeholder:"Title" %>
    </div>
    <br /> <br />

    <div class="feild form-group">
    <%= f.text_area :content, class:"form-control", placeholder:"Description" %>
    

    
    </div>  
    <br /> <br />

    <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
    <% end %>
</div>