
<%@post.each do |post|%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= post.title%>
                </h5>
                <p class="card-text">
                <%= post.content%>
                </p><br>
                <%= link_to 'Click', post, class:"btn btn-primary"%>
        </div>
    </div>
<br>
<%end%>