<div class="container">

  <%= form_for([@post, @post.suggestions.build], remote: true) do |f| %>
    <% if parent.present? %>
      <input type="hidden" name="suggestion[parent_id]" value="<%= parent.id %>">
    <% end %>

    <div class="feild form-group">
      <%= f.text_area :content, required: true, class:"form-control", placeholder:"Suggestion" %>
    </div>  
    <br /> <br />

    <div class="actions d-flex justify-content-end">
      <%= f.submit class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>



