<div class="article">
<p>

<strong><%=suggestion.content%></strong>

<div class="comment-form">
<%= render partial: 'suggestions/form', locals: {post: suggestion.post, parent: suggestion}%>
</div>
<div class="sub-comment">
<%= render suggestion.suggestions%>
</p>
</div>

<hr/>
</div>

<% if current_user.present?  && current_user==@post.user %>
<%= link_to 'Delete', [suggestion.post,suggestion], method: :delete, class:"btn btn-danger"%>
<% end %>

